<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
ul{ 
list-style-type: none; 
margin: 0;
Padding:0;
}
ul li{ display: inline-block
    
}
Body {background-color:#00FFFF;
   
    margin-left: auto;
    margin-right: auto; 
    width: 95%;
    max-width:960px;
    min-width:640px;}

p{background: #F0FFFF;
    text-align: center
}
h1{ background:#F0FFFF}
h2{ background: #F0FFFF}
/*floating Stlyes*/

Header
 {background-color:#F0FFFF}


.h2{ 
width:650px;
float:left;
 }

.h1{  
 width:650px;
float:right;
}

<style>
img {
  width: 100%;
}
</style>



Footer { 
}
